<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Smart To Do List</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <% if(userId) { %>

    <form method="GET" action="/api/users/logout">

      <label for="username" style="font-size: 20px;color: white"
        >Logged in As: <%= user.email %></label
      >
      <input
        type="submit"
        name="logout"
        value="Logout"
        style="background:transparent;color:white;border-radius: 5px;border-color:white;font-size: 20px"
      />
    </form>
    <% } %>
  </nav>
</header>
