<header class="header">
  <nav class="nav-bar">
    <div class="link">
      <a href="/">Smart To Do List</a>
    </div>
    <div class="logout">
      <% if(userId) { %>
      <form method="GET" action="/api/users/logout">
        <label for="username" style="font-size: 20px;color: white"
          >Logged in As: <%= user.email %></label
        >
        <input
          type="submit"
          name="logout"
          value="Logout"
          style="background:transparent;color:white;border-radius: 5px;border-color:white;font-size: 20px"
        />
      </form>
    </div>
    <% } %>
  </nav>
</header>
