<header class="header">
  <a href="/">TDL</a>
  <% if(userId) { %>
  <form method="GET" action="/api/users/logout">
    <label id="label">Logged In As: <%= user.email %>!</label>
    <button type="submit" class="logout">Logout</button>
  </form>
  <% } %>
</header>
