header.header {
  text-align: center;
  height: 100px;
  width: 100%;
  color: #ffffff;
  background-color: #1b2126;
  margin-bottom: 30px;
}

header a {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
  width: auto;
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
}

header form {
  font-size: 18px;
  font-family: 'Anton', sans-serif;
  float: right;
  width: auto;
  margin-right: 50px;
  margin-top: 27px;
  vertical-align: middle;
}

header form button {
  background-color: #1b2126;
  color: #ffffff;
  border: solid 2px;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

// BODY

.input-group {
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

button.btn {
  height: 30px;
}

.input-group input {
  flex: 1;
}

body {
  background-color: #ffffff;
}

body h1 {
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
  font-family: Scada, sans-serif;
  font-size: 20px;
  color: #1b2126;
  text-align: center;
}

body a {
  text-decoration: none;
}

body a:hover {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 30px;
  height: calc(100vh - 300px);
  justify-content: center;
}

div.container {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #e3e3e3;
  width: 22%;
  overflow: scroll;
  border-radius: 8px;
  align-content: stretch;
}

.container:hover {
  box-shadow: 8px 8px #1b2126;
  opacity: 1;
}

.card {
  background-color: white;
  width: 90%;
  height: 80px;
  margin: auto;
  font-family: Scada, sans-serif;
  word-wrap: break-word;
  border-radius: 8px;
  overflow: scroll;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 5px 5px lightgrey;
  opacity: 1;
}

.card > * {
  display: inline-block;
}

// .card-imgdiv {
// }

.card-main {
  width: calc(100% - 52px - 43px);
  vertical-align: top;
}

// .card-commands {
// }

.card > .card-commands > * {
  // float: right;
  // margin-right: 5px;
  // margin-top: -10px;
  display: block;
  color: #1b2126;
  position: inherit;
  background: white;
  border: none;
  cursor: pointer;
}

div.card-commands {
  vertical-align: top;
  padding-top: 10px;
}

div.card div.card-commands select {
  width: 22px;
  background: transparent;
  border: transparent;
  outline-width: 0;
}

// .card-commands .fa-ellipsis-v {
//   float: right;
//   margin-right: -12px;
//   margin-top: 1px;
//   color: #1b2126;
//   position: relative;
// }

// button.delete {
//   float: right;
//   margin-top: -27px;
//   margin-right: -12px;
//   padding: 0;
//   margin-left: 1px;
//   color: #1b2126;
//   position: relative;
//   background: white;
//   border: none;
// }

// Changed to relative to fix responsiveness
img {
  position: relative;
  margin-top: 15px;
  margin-left: 2px;
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
}

.name {
  margin: 6px; // TODO: think about
}

// Search Bar

form.search {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // transition: all 1s;
  width: 300px;
  height: 50px;
  background: #1b2126;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #1b2126;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 45.5%;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

form.search:hover {
  width: 350px;
  cursor: pointer;
}

form.search:hover input {
  display: block;
}

form.search:hover .fa {
  background: #1b2126;
  color: white;
}
a {
  color: black;
}
a:hover {
  color: black;
}
.error {
  width: 30%;
  margin: 0 auto;
  border: 2px solid red;
  text-align: center;
}

// LOGIN PAGE
div.form-group div#oval-shadow {
  height: 16px;
  background: #dfdfdf;
  border-radius: 100%;
  margin-top: 24px;
  width: 200px;
  margin-left: 75px;
}
@media screen and (max-width: 1190px) {
  p.name {
    font-size: 0.9375rem;
  }
}
@media screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    .container {
      width: 400px;
      margin-bottom: 20px;
      height: calc(100vh - 300px);
    }
  }
  p.name {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-wrap: wrap;
    .container {
      width: 400px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      height: calc(100vh - 300px);
    }
  }
}
@media screen and (max-width: 450px) {
  main {
    display: flex;
    flex-wrap: wrap;
    .container {
      width: 300px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      height: calc(100vh - 300px);
    }
  }
}

@media screen and (max-width: 500px) {
  #label {
    display: none;
  }
}
